<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="KarateGeek.Properties.Settings.karategeekConnectionString"
        connectionString="Driver={PostgreSQL UNICODE};server=localhost;port=5432;database=karategeek;uid=postgres;pwd=admin"
        providerName="System.Data.Odbc" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
